# Python cache
__pycache__/
*.pyc

# Virtual envs
venv/
KivEnv/

# Localized Script
SRDC.bat

# Secrets
SRDC_Creds.json
DEPRICATED_creds.json
SRDCPasswords.xlsx

# Scratch/test files
test.py
test.kv
Kivy_icons.py
ImageFixer.py


# IDE config
.vscode/
