# Python cache
__pycache__/
*.pyc

# Virtual envs
venv/
KivEnv/

# Secrets
creds.json
SRDCPasswords.xlsx
SignedOutCampers.xlsx

# Scratch/test files
test.py
test.kv
main.py
Kivy_icons.py
monalythicFile.txt


# IDE config
.vscode/
